@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');
 
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #ecfdf5,#d1fae5,#a7f3d0);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}



h1{
     font-family:VT323;
    color: #065f46;
    font-size: 2.5rem;
    margin-bottom: 80px;
}

.tabuleiro{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 320px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter:blur(8px) ;

    border-radius: 20px;
    padding: 10px;

   box-shadow: 0px 8px 23px rgba(0,0,0, 0.08);
}

.tabuleiro.o .celula.celula:not(.x):not(.o):hover::after,
.tabuleiro.o .celula.celula:not(.x):not(.o):hover::before{
    background-color:#C4B5FD;
}
.tabuleiro.x .celula.celula:not(.x):not(.o):hover::after,
.tabuleiro.x .celula.celula:not(.x):not(.o):hover::before
{
    background-color: #0f766e67;
}

.celula{
    width: 33.33%;
    height: 33.33%;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     transition: 0.2s ease;
}

.celula:hover{
    background-color: rgba(255,255,255,0.08);
}

.celula.o, .celula.x{
    cursor: not-allowed;
}


.celula:nth-child(3),
.celula:nth-child(6),
.celula:nth-child(9){
    border-right: none;
}

.celula:nth-child(7),
.celula:nth-child(8),
.celula:nth-child(9){
    border-bottom: none;
}



/* x nas celulas com .x */
.celula.x::before, .celula.x::after {
    content: "";
    height: 10%;
    width: 70%;
    background-color: #0f766e;
    position: absolute;
    box-shadow: 1px 1px 2px #0f766e6e;
    border-radius: 8px;

    /* ::before e ::after são usados para adicionar conteúdo visual antes ou depois do conteúdo real de um elemento.
    No seu código, são usados para criar as linhas do "X" dentro da célula, sem a necessidade de adicionar elementos HTML extras. */

    /* Os pseudo-elementos ::before e ::after permitem adicionar conteúdo visual sem modificar o HTML. No seu caso:

    ::before cria uma linha do "X" (rotacionada em 45 graus).
    ::after cria a outra linha (rotacionada em -45 graus).
    Eles ajudam a formar o "X" dentro da célula, mantendo o código HTML limpo, sem precisar de elementos extras como <div> ou <span>. */
}

/* adiciona a rotação ao x */
.celula.x::before {
    transform: rotate(45deg);
}

.celula.x::after {
    transform: rotate(-45deg);
}

/* efeito hover que exibe um x */
.tabuleiro.x .celula:not(.x):not(.o):hover::before,.tabuleiro.x .celula:not(.x):not(.o):hover::after {
    content: "";
    height: 12%;
    width: 80%;
    background-color: #0f766e67;
    position: absolute;
    box-shadow: 1px 1px 2px #0f766e67;
    border-radius: 8px;
    transform: rotate(45deg); /* Formato da linha do "X" */
}

.tabuleiro.x .celula:not(.x):not(.o):hover::before {
   transform: rotate(45deg);
}
.tabuleiro.x .celula:not(.x):not(.o):hover::after {
   transform: rotate(-45deg);
}


/* adiciona um o nas classes .o */
.celula.o::after,.celula.o::before{
    content:"" ;
    width: 60%;
    height: 60%;
    position: absolute;
    background-color:   #8b5cf6 ;
    border-radius: 50%;
}
 /* efeito hoover que exibe um o  */
.tabuleiro.o .celula:not(.x):not(.o):hover::after,.tabuleiro.o .celula:not(.x):not(.o):hover::before{
    content:"" ;
    width: 70%;
    height: 70%;
    position: absolute;
    background-color:#c4b5fd88;
    border-radius: 50%;
}

.mensagem{
    display: none;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
}

.mensagem > p{
    width: 80%;
    color: white;
    font-size: 2.2rem;
    font-family:VT323;
    text-align: center;
    text-shadow: 1px 1px 2px white;
}

.mensagem > button{
    padding: 10px 18px;
    margin-top: 20px;
    font-size: 1.0em;
    border:none;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.63);
    border-radius: 10px;
    background-color: #059669;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.mensagem > button:hover{
    transform: translateY(-2px);
    background-color: #047857;
}
.mostrarMsg {
    display: flex;
}
